{% block large_media_widget %}

    <script src="{{ asset('bundles/sonatamediachunkuploader/resumable.js') }}"></script>

    {#    <div class="row">#}
    {#        <div class="col-md-4 pull-left">#}
    {#            {% if value is not empty and value.providerReference %}#}
    {#                {% if sonata_admin_enabled is defined and sonata_admin_enabled and sonata_admin.admin is not same as(false) %}#}
    {#                    <a href="{{ sonata_admin.admin.getConfigurationPool().adminByAdminCode('sonata.media.admin.media').generateObjectUrl('edit', value) }}">#}
    {#                        <strong>{{ value.name }}</strong>#}
    {#                    </a>#}
    {#                {% else %}#}
    {#                    <strong>{{ value.name }}</strong>#}
    {#                {% endif %}#}
    {#            {% else %}#}
    {#                <strong>{{ 'no_linked_media'|trans({}, 'SonataMediaBundle') }}</strong>#}
    {#            {% endif %}#}
    {#        </div>#}

    {#        <div class="col-md-3 pull-left"><strong>{{ 'widget_headline_information'|trans({}, 'SonataMediaBundle') }}</strong></div>#}
    {#        <div class="col-md-2 pull-left"><strong>{{ 'link_media'|trans({}, 'SonataMediaBundle') }}</strong></div>#}
    {#    </div>#}

    {% if value is not empty and value.providerReference %}
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    <video src="{% path value, 'reference' %}" controls width="100%"></video>
                </div>
            </div>
            <div class="col-md-6">
                {{ block('form_widget') }}
                <div class="alert alert-success hide" role="alert" id="uploaded-file">
                    File <strong></strong> successfully loaded!
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                {{ block('form_widget') }}
                <div class="alert alert-success hide" role="alert" id="uploaded-file">
                    File <strong></strong> successfully loaded!
                </div>
            </div>
        </div>
    {% endif %}


    <div class="row">
        <div class="col-lg-8">
            <div class="progress hide" id="upload-progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: 0%">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var uploadForm = $('#{{ form.vars.id  }}');
            var fileInput = $(uploadForm).find('input[type="file"]');
            var form = $(uploadForm).parents('form');
            var submitInputs = $(form).find('button[type="submit"]');
            var uploadedFileInput = $('#{{ form.children.file.vars.id }}');

            var r = new Resumable({
                target: '{{ path('chunks.upload') }}',
                maxFiles: 1,
                testChunks: false,
                query: {context: '{{ form.vars['context'] }}', provider: '{{ form.vars['provider'] }}'}
            });

            r.assignBrowse(document.getElementById($(fileInput).attr('id')));

            var progressBar = new ProgressBar($('#upload-progress'));

            r.on('fileAdded', function(file, event){
                progressBar.fileAdded();
                r.upload();

                $(fileInput).files = file;
                submitInputs.attr('disabled', 'disabled');
            });

            r.on('fileSuccess', function(file, message){
                progressBar.finish();
                // console.log(JSON.parse(message).file);
                submitInputs.removeAttr('disabled');
                $(uploadedFileInput).val(JSON.parse(message).file);

                $('#uploaded-file').removeClass('hide').find('strong').text(file.file.name);
            });

            r.on('progress', function() {
                progressBar.uploading(r.progress() * 100);
            });

            function ProgressBar(ele) {
                this.thisEle = $(ele);

                this.fileAdded = function() {
                    (this.thisEle).removeClass('hide').find('.progress-bar').css('width','0%');
                },

                    this.uploading = function(progress) {
                        (this.thisEle).find('.progress-bar').attr('style', "width:"+progress+'%');
                    },

                    this.finish = function() {
                        (this.thisEle).addClass('hide').find('.progress-bar').css('width','0%');
                    }
            }
        });
    </script>
{% endblock %}
